@charset "UTF-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font: 12px Arial;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-confirmate:#63ace7 ;
    --main-recuperari: #00ffff;
    --main-decese: #f3eaea;
}

.wrapper {
    margin: 0 20;
    max-width: 1200px;
}

svg.chart-group {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

/* tooltip_div.tooltip {
    position: absolute;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
    border: 1px solid #222;
    opacity: .9;
    color: #222;
    padding: 10px;
    font-size: 0.7em;
    line-height: 12pt;
    font-family:  "EB Garamond", serif;
} */

tooltip_div.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
    border: 1px solid #222;
    opacity: .9;
    color: #222;
    padding: 10px;
    min-width: 10.75vmin;
    font-size: 0.7em;
    line-height: 20pt;
    font-family:  "EB Garamond", serif;
    visibility: visible;
    pointer-events: none;
}

text, tspan {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.districts:hover {
    stroke: #00ffff;
    stroke-width: 2px;
    fill-opacity: 0.8;
}

